@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@500&family=Martian+Mono:wght@400&family=Manrope:wght@400&display=swap');

:root {
  --color-text-invert: #fbfaff;
  --color-text-primary: #0c181d;
  --color-text-error: #95190c;
  --color-surface-primary: #fbfaff;
  --color-surface-minimal: #d4e5ed;
  --color-surface-warning: #feeec2;
  --color-surface-contrast: #a3a3a0;
  --color-border-primary: #0c181d;

  --font-heading: 'Chakra Petch', sans-serif;
  --font-body: 'Manrope', sans-serif;
  --font-code: 'Martian Mono', monospace;

  font-family: var(--font-body);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background: var(--color-surface-primary);
  color: var(--color-text-primary);
}

#root {
  min-height: 100vh;
}
